@use '~@jlbelanger/formosa/src/scss/utilities/variables' as formosa;
@use '../utilities/variables';

.crudnick-autocomplete-link {
	color: variables.$crudnick-white;
	display: block;
	padding-left: formosa.$formosa-autocomplete-value-padding-top;
	padding-right: formosa.$formosa-autocomplete-value-padding-top;

	&:focus {
		box-shadow: inset 0 0 0 formosa.$formosa-focus-border-width formosa.$formosa-focus-box-shadow-color;
	}
}
