@use '~@jlbelanger/formosa/src/scss/utilities/variables' as formosa;
@use '../utilities/variables';

.formosa-horizontal {
	margin-top: variables.$crudnick-margin;
}

.formosa-search-wrapper {
	input[size] {
		min-width: 100%;
	}
}

.formosa-icon--search {
	path {
		fill: variables.$crudnick-dark;
	}
}

.formosa-field__note {
	color: variables.$crudnick-note-color;
}

.formosa-autocomplete__value {
	padding-left: 0;
	padding-right: calc(formosa.$formosa-autocomplete-value-height - formosa.$formosa-autocomplete-value-padding-top);
}

.formosa-autocomplete__value--input {
	margin: 0;
}

td > .formosa-spinner {
	justify-content: center;
	margin: 16px auto;
}
