@use '../utilities/variables';

h1 {
	margin: 0;

	small {
		color: variables.$crudnick-heading-small-color;
		font-size: variables.$crudnick-heading-small-font-size;
		font-weight: variables.$crudnick-heading-small-font-weight;
		margin: variables.$crudnick-heading-small-margin;
	}
}

h2,
h3,
h4,
h5,
h6 {
	margin: variables.$crudnick-heading-margin;
}
