h1 {
	margin: 0;

	small {
		color: $crudnick-heading-small-color;
		font-size: $crudnick-heading-small-font-size;
		font-weight: $crudnick-heading-small-font-weight;
		margin: $crudnick-heading-small-margin;
	}
}

h2,
h3,
h4,
h5,
h6 {
	margin: $crudnick-heading-margin;
}
