input,
textarea {
	width: 100%;

	&[size] {
		width: auto;
	}
}

.crudnick-textarea--large {
	height: $crudnick-textarea-large-height;
}

.crudnick-textarea--medium {
	height: $crudnick-textarea-medium-height;
}

::placeholder {
	color: $crudnick-placeholder-color;
}
