@use '../utilities/variables';

input,
textarea {
	width: 100%;

	&[size] {
		width: auto;
	}
}

.crudnick-textarea--large {
	height: variables.$crudnick-textarea-large-height;
}

.crudnick-textarea--medium {
	height: variables.$crudnick-textarea-medium-height;
}

::placeholder {
	color: variables.$crudnick-placeholder-color;
}
