@use '../utilities/variables';

* {
	box-sizing: border-box;
}

body {
	background-color: variables.$crudnick-body-background-color;
	color: variables.$crudnick-body-color;
	font-family: variables.$crudnick-font-family;
	font-size: variables.$crudnick-font-size;
	margin: calc(variables.$crudnick-nav-height + variables.$crudnick-margin) 0 0;
}

main {
	margin: 0 auto;
	max-width: variables.$crudnick-content-width;
}

#crudnick-article {
	margin: variables.$crudnick-margin;
}
