* {
	box-sizing: border-box;
}

body {
	background-color: $crudnick-body-background-color;
	color: $crudnick-body-color;
	font-family: $crudnick-font-family;
	font-size: $crudnick-font-size;
	margin: #{$crudnick-nav-height + $crudnick-margin} 0 0;
}

main {
	margin: 0 auto;
	max-width: $crudnick-content-width;
}

#crudnick-article {
	margin: $crudnick-margin;
}
