@use '../utilities/variables';

a {
	color: variables.$crudnick-link-color;
	text-decoration: underline;

	&:hover,
	&:active,
	&:focus {
		text-decoration: none;
	}
}

.crudnick-link--table {
	display: block;
	margin: calc(variables.$crudnick-table-cell-padding * -1);
	padding: variables.$crudnick-table-cell-padding;

	&:hover,
	&:active,
	&:focus {
		background-color: variables.$crudnick-table-link-background-color-hover;
	}
}
