.crudnick-list {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
}

.crudnick-list__item {
	display: flex;
}

.crudnick-list__button {
	display: block;
	margin: 0 1px;

	&:focus {
		box-shadow: inset 0 0 0 $formosa-focus-border-width $formosa-focus-box-shadow-color;
	}
}

.crudnick-list__text {
	height: $crudnick-input-height;
	line-height: $crudnick-input-height;
}
