#crudnick-nav__dialog {
	background: none;
	border: 0;
	box-shadow: 0 0 0 100vh rgba($crudnick-black, 0);
	padding: 0;
	transition: box-shadow .3s ease-in-out;
	width: 100%;

	&:focus {
		box-shadow: inherit;
	}

	.show-nav.animate-nav & {
		box-shadow: 0 0 0 100vh rgba($crudnick-black, .4);
	}
}

#crudnick-nav__dialog::backdrop {
	background: transparent;
}

#crudnick-nav {
	background-color: $crudnick-nav-background-color;
	display: flex;
	justify-content: flex-end;
	left: 0;
	margin: 0 0 $crudnick-margin;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 9998;

	.crudnick-list__item {
		flex: 0 0 auto;
	}

	.crudnick-list__button {
		&:focus {
			box-shadow: inset 0 0 0 $formosa-focus-border-width $formosa-focus-box-shadow-color;
		}
	}

	.active {
		background-color: $crudnick-nav-active-background-color;
		color: $crudnick-nav-active-color;
	}

	@media screen and (min-width: #{$crudnick-nav-breakpoint}) {
		.crudnick-list__item {
			flex: 1 1 auto;
		}
	}
}

#crudnick-nav__list {
	background-color: $crudnick-nav-background-color;
	bottom: 0;
	margin: 0 auto;
	max-width: $crudnick-content-width;
	min-width: 200px;
	overflow: auto;
	padding: 0;
	position: fixed;
	right: 0;
	top: $crudnick-button-height;
	transform: translateX(200%);
	transition: transform .3s ease-in-out;

	a,
	button {
		height: $crudnick-button-height;
		line-height: $crudnick-button-height;
		margin: 0;
		padding: 0 $crudnick-padding;
		text-align: left;
		width: 100%;
	}

	& > li {
		margin: 0;
	}

	.show-nav.animate-nav & {
		transform: translateX(0);
	}

	@media screen and (min-width: #{$crudnick-nav-breakpoint}) {
		display: flex;
		flex-direction: row;
		min-width: none;
		overflow: unset;
		padding: 0 $crudnick-margin;
		position: static;
		transform: none;
		transition: none;
		width: 100%;

		a,
		button {
			display: block;
			padding-left: 4px;
			padding-right: 4px;
			text-align: center;
		}
	}
}

.crudnick-menu-button {
	background-size: 50%;
	display: block;
	font-size: 0;
	height: $crudnick-button-height;
	width: $crudnick-button-height;

	&:focus {
		box-shadow: inset 0 0 0 $formosa-focus-border-width $formosa-focus-box-shadow-color;
	}
}

#crudnick-menu-show-button {
	.show-nav & {
		visibility: hidden;
	}

	@media screen and (min-width: #{$crudnick-nav-breakpoint}) {
		display: none;
	}
}

#crudnick-menu-close-button {
	background: transparent;
	display: none;
	position: fixed;
	right: 0;
	top: 0;

	.show-nav & {
		display: block;
	}
}
