@use '~@jlbelanger/formosa/src/scss/utilities/variables' as formosa;
@use '../utilities/variables';

#crudnick-skip {
	background: variables.$crudnick-skip-background-color;
	border: 0;
	border-radius: 0;
	color: variables.$crudnick-skip-color;
	font-size: variables.$crudnick-skip-font-size;
	font-weight: variables.$crudnick-skip-font-weight;
	height: variables.$crudnick-skip-height;
	left: 50%;
	line-height: variables.$crudnick-skip-height;
	margin-left: calc(variables.$crudnick-skip-width * -.5);
	opacity: 0;
	padding: 0;
	position: absolute;
	text-align: center;
	text-decoration: none;
	top: calc(variables.$crudnick-skip-height * -1);
	width: variables.$crudnick-skip-width;
	z-index: 99999;

	&:active,
	&:focus {
		box-shadow: variables.$crudnick-skip-box-shadow, 0 0 0 formosa.$formosa-focus-border-width formosa.$formosa-focus-box-shadow-color;
		opacity: 1;
		top: 0;
	}
}
