table {
	border-spacing: 0;
	margin: 0 #{-1 * $crudnick-table-cell-padding};
	width: calc(100% + #{$crudnick-table-cell-padding});
}

th {
	text-align: left;
}

th,
td {
	border-color: $crudnick-darker;
	border-style: solid;
	border-width: 0 0 1px;
	padding: $crudnick-table-cell-padding;

	tfoot &,
	thead & {
		border-color: $crudnick-primary;
	}

	tfoot & {
		border-bottom-width: 0;
		border-top-width: 1px;
	}
}

tbody > tr:last-of-type {
	th,
	td {
		border-color: transparent;
	}
}

thead {
	th {
		padding: 0 $crudnick-table-cell-padding $crudnick-table-cell-padding;
	}

	.formosa-button {
		background-color: transparent;
		background-size: $crudnick-table-arrow-width;
		display: flex;
		font-weight: bold;
		justify-content: space-between;
		margin: #{-1 * $crudnick-padding};
		padding: $crudnick-table-cell-padding #{$crudnick-padding + ($crudnick-table-arrow-width * 2)} $crudnick-table-cell-padding $crudnick-padding;
		position: relative;
		text-align: left;
		width: calc(100% + #{$crudnick-padding * 2});

		svg {
			margin-top: #{($crudnick-table-arrow-width / 2) * -1};
			position: absolute;
			right: $crudnick-table-cell-padding;
			top: 50%;
		}

		.flip {
			transform: scaleY(-1);
		}

		&:hover,
		&:active,
		&:focus {
			background-color: transparent;
		}

		&[disabled] {
			&:hover,
			&:active,
			&:focus {
				background-color: transparent;
			}
		}
	}
}
