@use '../utilities/variables';

table {
	border-spacing: 0;
	margin: 0 calc(variables.$crudnick-table-cell-padding * -1);
	width: calc(100% + #{variables.$crudnick-table-cell-padding});
}

th {
	text-align: left;
}

th,
td {
	border-color: variables.$crudnick-darker;
	border-style: solid;
	border-width: 0 0 1px;
	padding: variables.$crudnick-table-cell-padding;

	tfoot &,
	thead & {
		border-color: variables.$crudnick-primary;
	}

	tfoot & {
		border-bottom-width: 0;
		border-top-width: 1px;
	}
}

tbody > tr:last-of-type {
	th,
	td {
		border-color: transparent;
	}
}

thead {
	th {
		padding: 0 variables.$crudnick-table-cell-padding variables.$crudnick-table-cell-padding;
	}

	.formosa-button {
		background-color: transparent;
		background-size: variables.$crudnick-table-arrow-width;
		display: flex;
		font-weight: bold;
		justify-content: space-between;
		margin: calc(variables.$crudnick-padding * -1);
		padding:
			variables.$crudnick-table-cell-padding
			calc(variables.$crudnick-padding + (variables.$crudnick-table-arrow-width * 2))
			variables.$crudnick-table-cell-padding
			variables.$crudnick-padding;
		position: relative;
		text-align: left;
		width: calc(100% + #{variables.$crudnick-padding * 2});

		svg {
			margin-top: calc((variables.$crudnick-table-arrow-width * .5) * -1);
			position: absolute;
			right: variables.$crudnick-table-cell-padding;
			top: 50%;
		}

		.flip {
			transform: scaleY(-1);
		}

		&:hover,
		&:active,
		&:focus {
			background-color: transparent;
		}

		&[disabled] {
			&:hover,
			&:active,
			&:focus {
				background-color: transparent;
			}
		}
	}
}

.crudnick-column--shrink {
	width: 0;
}
