h1 {
	margin: 0;

	small {
		color: var(--crudnick-heading-small-color);
		font-size: var(--crudnick-heading-small-font-size);
		font-weight: var(--crudnick-heading-small-font-weight);
		margin: var(--crudnick-heading-small-margin);
	}
}

h2,
h3,
h4,
h5,
h6 {
	margin: var(--crudnick-heading-margin);
}
