.crudnick-list {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
}

.crudnick-list__item {
	display: flex;
}

.crudnick-list__button {
	display: block;
	margin: 0 1px;
}

.crudnick-list__text {
	height: var(--crudnick-input-height);
	line-height: var(--crudnick-input-height);
}
